@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-discord-gradient text-white; /* Apply custom gradient and text color */

  position: relative;
  /* overflow: hidden; */
}

/* Add noise overlay using ::before pseudo-element */
body::before {
  content: "";
  position: absolute;
  background-color: #1b00e6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png"); /* URL of noise texture */
  opacity: 0.1; /* Adjust for a subtle effect */
  pointer-events: none; /* Allow clicks to pass through */
}
